number_of_users=1
token_1=yadaadadadadadad.daydyadyadyadya
owner_1=Username
# League of Legends
lol_summoner_name=BotSummonerName
lol_riot_api_key=blahajdkkahdjk98283
lol_username=BotUsername
lol_password=botpassw0rd
# Spring database/persistence
spring.datasource.url=jdbc:mysql://localhost:3306/discord
spring.datasource.username=root
spring.datasource.password=root
spring.datasource.testWhileIdle=true
spring.datasource.validationQuery=SELECT 1
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update